In [1]:
""" Realizando consultas en un DataFrame
PRÓXIMA ACTIVIDAD

Utiliza el siguiente DataFrame para resolver el problema: """

import pandas as pd

datos = {
  'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor Diesel', 'Motor 1.6'],
    'Año': [2019, 2003, 1991, 2019, 1990],
    'Kilometraje': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Cero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(datos, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [2]:
""" Queremos devolver el siguiente DataFrame:

Out [1]:

        Motor	        Año	    Kilometraje	 Cero_km	Valor
Jetta	Motor 4.0 Turbo	2019	0.0	          True	    88000.0
Passat	Motor Diesel	2003	5712.0	      False	    106000.0
DS5	    Motor Diesel	2019	0.0	          True	    89000.0
 """

' Queremos devolver el siguiente DataFrame:\n\nOut [1]:\n\n        Motor\t        Año\t    Kilometraje\t Cero_km\tValor\nJetta\tMotor 4.0 Turbo\t2019\t0.0\t          True\t    88000.0\nPassat\tMotor Diesel\t2003\t5712.0\t      False\t    106000.0\nDS5\tMotor Diesel\t    2019\t0.0\t          True\t    89000.0\n '

In [3]:
dataset.query('Motor == "Motor Diesel" | Cero_km == True')

                  Motor   Año  Kilometraje  Cero_km     Valor
Jetta   Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat     Motor Diesel  2003       5712.0    False  106000.0
DS5        Motor Diesel  2019          0.0     True   89000.0

In [4]:
dataset[(dataset.Motor == 'Motor Diesel') | (dataset.Cero_km == True)]

                  Motor   Año  Kilometraje  Cero_km     Valor
Jetta   Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat     Motor Diesel  2003       5712.0    False  106000.0
DS5        Motor Diesel  2019          0.0     True   89000.0

In [6]:
dataset.query('Motor == "Motor Diesel" or Cero_km == True')

                  Motor   Año  Kilometraje  Cero_km     Valor
Jetta   Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat     Motor Diesel  2003       5712.0    False  106000.0
DS5        Motor Diesel  2019          0.0     True   89000.0